<!-- <p>school-dash works!</p> -->
<nav class="navbar navbar-light bg-primary">
	<div class="container-fluid">
		<h2>School Record</h2>
		<div class="d-flex">
			<button (click)="clickAddUser()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add User</button>
		</div>
	</div>
</nav>


<!-- Jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3">
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">School Management System</h1>
		<p class="col-md-8 fs-4">Angular is Here to Save records</p>
		<a class="btn btn-primary btn-lg" type="button" target="_blank" href="https://github.com/quickcodes">Check me out on GitHub</a>
	</div>
</div>

<!-- Creating Table Here -->
<table class="table mt-4">
	<thead>
		<tr>
			<th scope="col">User Name</th>
			<th scope="col">Mobile No.</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of allUserData">
			<td>{{data.name}}</td>
			<td>{{data.mobile}}</td>
			<td>
				<button (click)="onEditUser(data)" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>&nbsp;
				<button (click)="deleteUser(data)" class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</tbody>
</table>





<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      	<!-- Creating form -->
      	<form [formGroup]="formValue">
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Name</label>
		    <input type="text" formControlName="name" placeholder="Your Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
		  </div>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Number</label>
		    <input type="text" formControlName="mobile" placeholder="Mobile Number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
		  </div>
	<!-- 	  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1">
		  </div>
		  <div class="mb-3 form-check">
		    <input type="checkbox" class="form-check-input" id="exampleCheck1">
		    <label class="form-check-label" for="exampleCheck1">Check me out</label>
		  </div> 
		  <button type="submit" class="btn btn-primary">Submit</button> -->
		</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addUser()">Add Details</button>
        <button *ngIf="showBtn" type="button" class="btn btn-primary" (click)="updateUser()">Update Details</button>
      </div>
    </div>
  </div>
</div>
